/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/aSgug8GiKcML.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/XIo90VzixEmA.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/UpZwvkFkpO9S.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/o8fGhCBL2tt4.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/oZYEUzjy1ig5.otf') format('truetype');
}