/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/GellixBlack.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/GellixRegular.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/GellixMedium.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/GellixBold.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/GellixSemiBold.otf') format('truetype');
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
